<%= error_messages_for :question_category %>
<% form_for @question_category, :url => collection_path do |f| %>
  <fieldset>
      <% f.field_container :name do %>
          <%= f.label :name, t("name") %> <span class="required">*</span><br />
          <%= f.text_field :name, :class => 'fullwidth title'  %>  
          <%= f.error_message_on :name %>
      <% end %>
      <%= f.label :roles, t("roles") %>
      <% Role.all.each do |role| %><br />
        <%= check_box_tag "question_category[role_ids][]", role.id %> <%= role.name %><br />
      <% end %>
      <%= f.submit t("create_category") %>
  </fieldset>
<% end %>
